html {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #f9f9fd;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: hsl(180, 3%, 12%);
  }

  &::-webkit-scrollbar-track {
    border-radius: 1rem;
    background-color: rgba(#51515c, 0.5);
  }
}
